# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Packaging
*.egg-info/
dist/
build/

# ======================
# ML artifacts
# ======================
models/*
!models/README.md
*.joblib
*.pkl
*.pt
*.pth
*.h5

# Data artifacts
data/raw/
data/processed/

!data/README.md

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store

# ======================
# Environment / secrets
# ======================
.env
